@import "leaflet/dist/leaflet.css";

.main-container {
  display: flex;
}

/* Ensures leaflet map tiles load correctly */
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Center the map on the screen */
.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 70vh; /* take up most of the screen */
  padding: 1rem;
  box-sizing: border-box;
}

/* The actual map size */
.map {
  height: 80vh;
  width: 90%;
  margin: 0 auto;
  border: 10px solid #ccc;

  /* max-width: 900px;
  max-height: 700px; */

  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.dashboard-container {
  max-height: 600px;   /* adjust */
  max-width: 50vh;    /* adjust */
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ccc;
  padding: 1rem;
}



/* Existing CSS - dont delete below */
/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
